<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><strong>{{ site.title }}</strong></li>
	  <li>{{ site.job }}</li>
          <li><a class="footer-link" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
	  <li> <a class="footer-link" href="tel:765-494-3912">+1 765 494 3912</a> </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
         <p class="text">
		Department of Economics <br />
		Purdue University <br />	
		403 W. State St. <br />
		West Lafayette, IN 47907-2056 </p>
      </div>

      <div class="footer-col  footer-col-3">
	<!---
	<p class="footer-text" style="text-align:center;"> Links </p>
	--->
	<ul class="github-list">
         <li class="github"> <a class="footer-link" href="https://github.com/reasner">Github</a> </li> 
	</ul>
	<ul class ="linkedin-list">
	 <li class="linkedin"> <a class="footer-link" href="https://www.linkedin.com/in/reasner/">LinkedIn</a> </li>	 
	</ul>
	<ul class="strava-list">
	 <li class="strava"> <a class="footer-link" href="https://www.strava.com/athletes/reasner">Strava</a> </li>
	</ul>
      </div>




<!--
       <ul class="social-media-list">

	{% if site.github_username %}
	 <li>
<a class="footer-link" href="https://github.com/{{ site.github_username }}">
<i class="fa fa-github" style="color:$steel"></i> Github
	 </a>
	 </li>
	{% endif %}

	{% if site.orcid_id %}
	 <li>
<a class="footer-link" href="https://orcid.org/{{ site.orcid_id }}">
<i class="ai ai-orcid" style="color:$steel"></i> ORCID
	 </a>
	 </li>
	{% endif %}

	{% if site.linkedin_username %}
	 <li>
<a class="footer-link" href="https://linkedin.com/in/{{ site.linkedin_username }}">
<i class="fa fa-linkedin style="color:$steel"></i> LinkedIn
	 </a>
	 </li>
	{% endif %}
       
        </ul>
-->   

     </div>
    </div>
  </div>
</footer>
